PORT=5007

# PostgreSQL Database
DB_HOST=flipkart-postgres
DB_PORT=5432
DB_NAME=flipkart_inventory
DB_USER=postgres
DB_PASSWORD=postgrespassword

# Redis In-Memory Stock Lock
REDIS_HOST=flipkart-redis
REDIS_PORT=6379
REDIS_PASSWORD=
STOCK_LOCK_TIMEOUT_SECONDS=900
