PORT=5008
FLASK_ENV=production

# PostgreSQL Database
DB_HOST=flipkart-postgres
DB_PORT=5432
DB_NAME=flipkart_delivery
DB_USER=postgres
DB_PASSWORD=postgrespassword

EKART_COURIER_API_KEY=ekart_internal_key_mock
