# Redis Pub/Sub Connection
REDIS_HOST=flipkart-redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Notification Provider Credentials
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=dummy_smtp_user
SMTP_PASS=dummy_smtp_pass

SMS_GATEWAY_API_KEY=mock_sms_gateway_key
PUSH_NOTIFICATION_SERVER_KEY=mock_fcm_key
