PORT=5004
NODE_ENV=production

# Redis In-Memory Configuration
REDIS_HOST=flipkart-redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Session / Cart Expiration TTL (e.g. 30 days in seconds)
CART_TTL_SECONDS=2592000
