PORT=5005
SPRING_PROFILES_ACTIVE=prod

# PostgreSQL Connection
DB_HOST=flipkart-postgres
DB_PORT=5432
DB_NAME=flipkart_orders
DB_USER=postgres
DB_PASSWORD=postgrespassword

INVOICE_SECRET_SALT=flipkart-super-secret-salt-for-invoices
